/* VARIABLES */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary-dark: #1C0B0F;
  --color-primary-light: #D6D5C9;
  --color-secondary: #ABAC91;
  --color-accent: #A22C29;

  --fw-thin: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --fs-400: 1rem;
  --fs-600: 1.5rem;
  --fs-800: 2.75rem;
}


/* INITIALIZATION */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  font: inherit;
  /* outline: red 1px solid; */
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);
  font-family: "Roboto Flex", sans-serif;
  cursor: default;
}

a {
  color: var(--color-primary-light);
  font-weight: var(--fw-bold);
}
a:hover,
a:active,
a:focus-visible {
  color: var(--color-accent);
}

ul {
  list-style-type: none;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn {
  font-weight: var(--fw-regular);
  outline: 1px solid var(--color-primary-light);
  padding: 0.75rem 1.25rem;
}
.btn:hover,
.btn:active,
.btn:focus-visible {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
}

.scroll-margin {
  scroll-margin-top: 4rem;
}


/* LAYOUT */
.full-page-container {
  --max-width: 1200px;
  --padding: 2rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  height: 100%;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
}

.half-page {
  width: calc(50% - 1.5rem);
}



/* PAGE DETAILS */
.page-details {
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;
}


/* PAGE INTRO */
.page-intro {
  display: flex;
  margin-bottom: 5rem;
  gap: 1.5rem;
}

.headshot {
  max-width: 92px;
  max-height: 92px;
  border-radius: 50%;
  outline: 2px solid var(--color-primary-light);
}

.page-title {
  display: flex;
  flex-direction: column;
  justify-content: start;

  & h1 {
    font-size: var(--fs-800);
    font-family: "Oswald";
    font-weight: var(--fw-medium);
    line-height: calc(var(--fs-800) + 0.75rem);
  }

  & p {
    font-size: var(--fs-600);
  }
}

.section-nav {
  flex: 1;
  font-weight: var(--fw-thin);
  font-size: var(--fs-600);
}

.section-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav-link {
  font-variation-settings: 'wght' var(--fw-regular);
  letter-spacing: 0;
  transition: font-variation-settings 0.3s ease,
              letter-spacing 0.3s ease;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus-visible {
  font-variation-settings: 'wght' var(--fw-bold);
  letter-spacing: 4px;
  color: var(--color-primary-light);
}

.social-list {
  display: flex;
  font-size: var(--fs-600);
  gap: 1.25rem;
}



/* FOOTER */
.attribution {
  margin-top: 2rem;
}

/* MAIN CONTENT */
.main-content {
  padding-top: 4rem;
}

.section-title {
  display: inline-block;
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  color: var(--color-primary-dark);
  background-color: var(--color-secondary);
  padding: 0.5rem 1rem;
}

.section-content {
  margin-block: 2.5rem 4rem;
}


/* ABOUT ME */
.self-introduction {
  line-height: 2rem;
  margin-bottom: 2rem;
}


/* PROJECTS */
.projects .section-content {
  display: flex;
  flex-direction: column;
}

.projects .section-content:has(.project-card:hover) .project-card:not(:hover) {
  opacity: 0.5;
  transition: opacity 0.4s ease;
}

.project-card {
  position: relative;
  display: flex;
  padding-block: 2rem;
  justify-content: space-between;
  gap: 3rem;

  opacity: 1;
  transition: opacity 0.4s ease;
}

.project-card:first-child {
  padding-top: 1rem;
}
.project-card:last-child {
  padding-bottom: 1rem;
}

.project-info {
  flex: 1;
}

.project-metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  & .title {
    font-weight: var(--fw-bold);
    margin-bottom: 0.25rem;
  }

  & .date {
    transform: skew(-10deg);
  }
}

.external-links {
  font-size: var(--fs-600);
}

.external-links-list {
  display: flex;
  gap: 1rem;
}

.project-thumbnail {
  max-width: 140px;
  max-height: 140px;
  outline: 1px solid var(--color-primary-light);
}


/* CONTACT */
.contact-cta {
  font-size: var(--fs-600);
  margin-bottom: 1.5rem;
}


@media screen and (width < 1024px) {
  .full-page-container {
    flex-direction: column;
  }

  .half-page {
    width: 100%;
  }

  .page-details {
    height: auto;
    position: static;
  }

  .main-content {
    padding-top: 0;
  }

  .section-nav {
    display: none;
  }
}

@media screen and (width < 576px) {
  .page-intro {
    flex-direction: column;
  }

  .headshot {
    margin-inline: auto;
  }

  .page-title {
    text-align: center;
  }

  .social-nav {
    margin-inline: auto;
  }

  .project-card {
    flex-direction: column-reverse;
    gap: 1.5rem;
  }

  .project-metadata {
    flex-direction: column-reverse;
    align-items: start;
    gap: 0.5rem;
  }

  .project-thumbnail {
    max-width: 240px;
    max-height: 240px;
  }
}













