/* VARIABLES */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary-dark: #1C0B0F;
  --color-primary-light: #D6D5C9;
  --color-secondary: #ABAC91;
  --color-accent: #A22C29;
}

/* INITIALIZATION */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  font: inherit;
  /* outline: red 1px solid; */
}

a {
  text-decoration: inherit;
}
a:hover {
  color: var(--color-accent);
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Roboto Flex", sans-serif;
  cursor: default;
}
